*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font: Helvetica;
}
header{
    display: flex;
    flex-direction: row;
    min-height: 180px;
    justify-content: space-between;
}
.top_left{
    display: flex;
    justify-content: flex-start;
}
.top_right{
    display: flex;
    justify-content: flex-end;
}
a{
    margin-right: 15px;
    text-decoration: none;
    color: white;
}
.login{
    text-align: right;
}
.logo_text{
    display: flex;
    flex-direction: row;
}
.logo{
    margin-top: 50px;
    margin-left: 75px;
}
h1{
    display: flex;
    flex-direction: column;
}
.name {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 80px;
}
.motto{
    font-size: 20px;;
}
.buttons{
    margin-top: 80px;
    margin-right: 30px;
}
button{
    transition-duration: 0.4s;
    font-size: 18px;
    margin: 15px;
    color: gray;
        background-color: white;
}
button:hover{
    color: black;
    border-bottom: 2px solid rgb(3, 189, 139);

}
.line{
    height: 1px;
    width: 100%;
    background-color:black ;
}
.bgImage{
    background-image: url("back_exante_atas.jpg");
    background-color: black;
    min-height: 300px;
    display: block;
    background-image: no-repeat;

}
.exante{
    font-size:35px;
    color: white;
    position: relative;
    padding-top:100px ;
    padding-left: 200px;
}

.devide{
    display: flex;
    flex-direction: row;
    min-height: 180px;
    justify-content: space-between;
}
.mainLeft{
    position: relative;
    display: flex;
    color: black;
    float: left;
    height: 300px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: auto;
    width: 50%;
    
}
.mainRight{
    flex-direction: column;
    position: relative;
    display: flex;
    color: black;
    float: right;
    height: 300px;
    width: 50%;
}

.biggerText{
    margin-top: 45px;
    font-size: 30px;
    color: #077589;
    font-weight: bold;
}
.parent {
    position: relative;
    top: 0;
    left: 0;
}
.image1 {
    position: relative;
    top: 20px;
    right: 250px;
    background-color: white;
    padding: 20px;
    box-shadow: 5px 4px 16px rgba(0, 0, 0, 0.1);;
}
.image2 {
    position: absolute;
    top: 0;
    right: 105px;
    background-color: white;
    padding: 20px;
    box-shadow: 5px 4px 16px rgba(0, 0, 0, 0.1);
}
.image3{
    position: relative;
    top: 60px;
    right: 250px;
    background-color: white;
    padding: 20px;
    box-shadow: 5px 4px 16px rgba(0, 0, 0, 0.1);;
}
.blueBack{
    background-image: url("blue_back.png");
    padding-top: 80px;
    color: white;
    font-size: 30px;
    line-height: 120%;
    height: 275px;
    text-align: center;
}
.learnMore{
    background-color: white;
    width: 180px;
    height: 45px;
    font-size: 13px;
    line-height: 15.6px;
    color: black;
}
.middleSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
}
.midLeft{
    display: flex;
}
.midRight{
    display: flex;
}
.middleLeft{
    font-size: 36px;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 100px;

}
.middleRight{
    font-size: 36px;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 150px;
}
.middleLeftText{
    padding-top: 65px;
    padding-left: 50px
}
.dma{
    width: 35px;
    height: 30.14px;
    margin-top: 32px;
    margin-left: 50px
}
.dmaText{
    color: #077589;
    margin-top: 20.54px;
    margin-left: 50px;
    font-size:24px;
}
.mainText{
    font-size: 18px;
    margin-left: 50px;
    margin-top: 16px;
}
.personal{
    margin-left: 50px;
    margin-top: 39.52px;
    width: 27.53px;
    height: 30.97px;
}
.rates{
    width: 37.42px;
    height: 30.53px;
    margin-top: 140px;
}
.available{
    margin-top: 30px;
    width: 30.95px;
    height: 28.82px;
}
.ratesText{
    color: #077589;
    font-size:24px;
    margin-top: 20.54px;
}
.avalText{
    font-size: 18px;
    margin-top: 18px;
}
.preFooter{
    background-image: url("background2.png");
    min-height: 460px;
    color: white;
    
    margin-top: 50px;
}
.preFooterText{
    width: 50%;
    padding-top: 75px;
    padding-left: 150px;
    font-size: 24px;
}
.pref{
    width: 50%;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 150px;
}
.another{
    width: 50%;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 150px;
}
.anbtn{
    margin-left: 150px;
    margin-top: 75px;
    background-color: #077589;
    color: white;
    width: 210px;
    height: 45px;
}
footer{
    height: 175px;
    background-color: black;
    font-size: 11px;
    color: white;
}
.FooterText{
margin-left: 50px;
padding-top: 50px;
}
.footerLink{
    color: white;
}
.discPosition{
    float: left;
    width:90%;
}
.chatPosition{
    float: right;
    width: 10%;
}
.disclaimer{
    display: block;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 200px;
    width: 90%;

}
.chat{
    width: 50px;
    height: 50px;
}
.lang{
    display: flex;
    justify-content:center;

    
}
.svgIcon{
    display: flex;
    flex-direction: row;
    color: gray;
    position: relative;
    justify-content: flex-end;
    margin-right: 100px;
    
}
.svgIcons{
    margin-top: 65px;
    width: 20px;
    height: 20px;
}
.posLeft{
    float: left;
}
.posRight{
    float: right;
}